# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
venv/
.venv/
env/
.env/

# Editor/IDE
.vscode/
!.vscode/settings.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.swp
*.swo

# Testing/QA
.tox/
.nox/
.coverage
.coverage.*
htmlcov/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Project Specific
logs/
data/
secrets.toml
.env
